body {
    background: linear-gradient(to right, rgb(157, 157, 212), rgb(174, 219, 174));
}

#grid {
    display: grid;
    grid-template-rows: repeat(9, 40px);
    grid-template-columns: repeat(9, 40px);
}

input {
    font-size: large;
    text-align: center;
    border: 1px dotted gray;
    outline: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.top {
    border-top: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}